.el-button{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  transform: translateY(-50%);

  font-size: 50px;
  border: none;
  color: gray;
  background-color: white;
  overflow: hidden;
  border-radius: 0;

  &.arrow-left,&.arrowLeft{
    left:10%;
    &:before{
      left: -100%;
      background: linear-gradient(to left, white, rgb(0, 196, 255));
      transition: left 0.3s ease;
    }
    &:hover:before{
      left:0;
    }
  }

  &.arrow-right,&.arrowRight{
    right:10%;
    &:before{
      right: -100%;
      background: linear-gradient(to right, white, rgb(0, 196, 255));
      transition: right 0.3s ease;
    }
    &:hover:before{
      right:0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &:hover {
    background-color: white;
    color: white;
    border-radius: 0;
  }
}