//一般来说这是el-chart和el-button的直接父元素
.chart-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10%;
  padding: 0px 0%;
}
//有且仅有enso预测检验的第二栏用的是这个
.chart-selector-with-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10%;
  padding: 0 5%;
}

/** 个别图表左右附着的切换按钮
* 这些按钮的位置取决于它们的直接父元素，务必为它们的父元素设置position属性！
* 它们会分属左右两边，紧贴边界，充满高度
*/
.el-button{
  position: absolute;
  top: 0;
  width: 7%;
  height: 100%;

  font-size: 50px;
  border: none;
  overflow: hidden;
  border-radius: 0;
  color: rgba(128, 128, 128, 0.4);
  background: transparent;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &:hover {
    color: white;
    background: transparent;
    border-radius: 0;
  }

  &.arrow-left,&.arrowLeft{
    left: 0;
    &:active {
      transform: perspective(600px) rotateY(15deg) scale(0.95);
    }
    &:hover:before{
      left:0;
    }
    &:before{
      left: -100%;
      background: linear-gradient(to left, transparent, rgba(0, 64, 192, 0.3));
      transition: left 0.3s ease;
    }
  }

  &.arrow-right,&.arrowRight{
    right:0;
    &:active {
      transform: perspective(600px) rotateY(-15deg) scale(0.95);
    }
    &:hover:before{
      right:0;
    }
    &:before{
      right: -100%;
      background: linear-gradient(to right, transparent, rgba(0, 64, 192, 0.3));
      transition: right 0.3s ease;
    }
  }
}

// 日期选择器
.datePickerContainer .el-input__wrapper {
  position: relative;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgb(173, 216, 230);
  border-radius: 0;
  box-shadow: none;
  transition: all ease 0.3s;

  .el-input__inner{
    font-size: 14px;
    height: 100%;
    margin-left: 0;
    transition: all 0.3s ease;
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(83, 128, 196);
    transition: width 0.3s ease;
  }

  &:hover,&.is-focus{
    box-shadow: none;

    .el-input__inner{
      font-size: 19px;
      margin-left:20px;
    }

    &::after{
      width: 100%;
    }
  }
}