.el-button{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  transform: translateY(-50%);

  font-size: 50px;
  border: none;
  overflow: hidden;
  border-radius: 0;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &:hover {
    background-color: white;
    color: white;
    border-radius: 0;
  }

  &,&:active{
    color: gray;
    background-color: white;
  }

  &.arrow-left,&.arrowLeft{
    left:10%;
    &:hover:before{
      left:0;
    }
    &:before,&:active:before{
      left: -100%;
      background: linear-gradient(to left, white, aqua);
      transition: left 0.3s ease;
    }
  }

  &.arrow-right,&.arrowRight{
    right:10%;
    &:hover:before{
      right:0;
    }
    &:before,&:active:before{
      right: -100%;
      background: linear-gradient(to right, white, aqua);
      transition: right 0.3s ease;
    }
  }
}

.datePickerContainer .el-input__wrapper {
  position: relative;
  border: none;
  border-bottom: 2px solid aqua;
  border-radius: 0;
  box-shadow: none;
  transition: all ease 0.3s;

  .el-input__inner{
    font-size: 14px;
    margin-left: 0;
    transition: all 0.3s ease;
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: blue;
    transition: width 0.3s ease;
  }

  &:hover,&.is-focus{
    box-shadow: none;

    .el-input__inner{
      font-size: 19px;
      margin-left:20px;
    }

    &::after{
      width: 100%;
    }
  }
}